@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e3f5f8;
  --foreground: #121112;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
